html, body { background-color: #EFEFEF; }
body { font-size: 0.875em; font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; color: #313131; }
/*
a { color:#08C; text-decoration: none;}
a:hover, a:active, a:visited  { text-decoration: underline; }
h1, h2, h3 { font-family:Georgia, "Times New Roman", Times, serif; color:#404040; }
*/
/* ----------------------------------- generic styles ---------------------------------------- */
/*
.button { font-size: 0.85em; line-height: 1; cursor: pointer; mdisplay: inline-block; outline: none; text-align:center; text-transform: uppercase; padding: 5px 12px; text-shadow: 0 1px 1px rgba(0,0,0,.3); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.button.grey{ color:#868686; border:solid 1px #d7d7d7; background: #ffffff; background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7)); background: -moz-linear-gradient(top,  #ffffff,  #d7d7d7); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7'); }
.button.green{ color:white; border:solid 1px #a7da39; background:#a7da39; background:-webkit-gradient(linear, left top, left bottom, from(#a7da39), to(#6a9211)); background:-moz-linear-gradient(top,  #a7da39,  #6a9211); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7da39', endColorstr='#6a9211'); }
.button.red{ color:white; border:solid 1px #f04059; background:#f04059; background:-webkit-gradient(linear, left top, left bottom, from(#f04059), to(#c6324a)); background:-moz-linear-gradient(top,  #f04059,  #c6324a); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f04059', endColorstr='#c6324a'); }
*/


.rounded {
    border: 1px solid #BBB;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gradient {
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top,white,#E6E6E6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,white,#E6E6E6);
    background-image: -o-linear-gradient(top,white,#E6E6E6);
    background-image: linear-gradient(to bottom,white,#E6E6E6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.boxShadow {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

/* ----------------------------------- end generic styles ---------------------------------------- */

/* ----------------------------------- Nested Set ---------------------------------------- */

.sortable, .sortable ul { margin: 0 0 0 25px; padding:0; list-style: none; }
.sortable { margin: 4em 0; padding: 0 0 4em 0; }
.sortable li { margin: 5px 0 0 0; padding: 0; list-style-type: none; }
.sortable li div { padding: 3px; margin: 0; cursor: move; line-height: 2em; }
.sortable .placeholder { border: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; opacity:0.5; }
.sortable .error-nesting { border: 1px dashed #ff0000; background-color:#ff0000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.sortable li div .editTools { float:right; display:none; }
.sortable li div:hover .editTools { display:block; }

/* ----------------------------------- end Nested Set ---------------------------------------- */

#container { width:40%; margin:0px auto; }
.treeContainer { width:100%; }





